<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

<!--        <bean id="user" class="com.kuang.pojo.User">-->
<!--            <property name="name" value="默认无参构造"/>-->
<!--        </bean>-->
<!--        <bean id="userT" class="com.kuang.pojo.UserT">-->
<!--            <constructor-arg name="name" value="有参构造"></constructor-arg>-->
<!--        </bean>-->
    <bean id="userT" class="com.kuang.pojo.UserT" name="t1, tt2 t ">
        <constructor-arg name="name" value="有参构造"></constructor-arg>
    </bean>

    <alias name="userT" alias="userttt"/>

</beans>